---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import ContainerLayout from '../layouts/ContainerLayout.astro';
import MainLayout from '../layouts/MainLayout.astro';
import Separator from '../components/Separator.astro';
import Socials from "../components/Socials.astro"
import me from "../assets/images/me.png"
import PostCard from '../components/PostCard.astro';
import GrainyBackground from "../components/GrainyBackground.astro"

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
).slice(0, 3);
---

<MainLayout>
	<section class="pt-10 lg:pt-20">
		<ContainerLayout styles="flex flex-col-reverse lg:flex-row items-start justify-between">
			<div>
				<h1 class="text-3xl lg:text-5xl font-bold tracking-tight pt-0">
					Hi! 👋 My name is <span class="text-blue-500">Emir</span>
					<br />
					and I am a software
					<br />
					engineer.
				</h1>
				<Socials />
			</div>
			<Image
				src={me}
				width={200}
				height={200}
				alt="Emir Smajic"
				class="rounded-full border-8 border-blue-100 shadow-blue-100/80 shadow-xl scale-75 lg:scale-100 -ml-6 lg:-ml-0"
			/>
		</ContainerLayout>
	</section>
	<Separator />
	<section>
		<ContainerLayout>
			<h3 class="text-slate-400 uppercase font-semibold tracking-widest">
				Writing
			</h3>
			<ul class="flex flex-col space-y-6 pt-10">
				{posts.map(post => <PostCard post={post} />)}
			</ul>
		</ContainerLayout>
	</section>
</MainLayout>