---
import { Image } from "astro:assets";
import ContainerLayout from "../layouts/ContainerLayout.astro";

const pathname = new URL(Astro.request.url).pathname
const isBlogPage = pathname.includes("/blog")

---

<header class="sticky h-18 top-0 border-b border-slate-100 py-4 bg-slate-50 bg-opacity-80 backdrop-blur-md z-10">
	<ContainerLayout styles="flex items-center justify-between">
		<a href="/">
			<Image
				src="/logo.svg"
				alt="emir.sh"
				width={40}
				height={40}
				class="hover:opacity-80"
			/>
		</a>
		<ul class="flex space-x-4 text-slate-500 tracking-tight">
			<li class={!isBlogPage ? "text-slate-800" : "hover:text-slate-800"}>
				<a href="/">Home</a>
			</li>
			<li class={isBlogPage ? "text-slate-800" : "hover:text-slate-800"}>
				<a href="/blog">Blog</a>
			</li>
		</ul>
	</ContainerLayout>
</header>
